import cx from "classnames";            
import moduleStyles from "@/styles/{{page_name}}/{{section_variable}}.module.sass";
import Section from "../common/section";
import Container from "../common/container";
export default function ({ content, settings, children, className, ...rest }) {
    settings = settings || {};
    let styles = settings.styles || {};
    return (
        <Section className={cx(moduleStyles.section, className, styles.section)} {...rest}>
            <Container className={cx(styles.container)}>
                {{{html}}}
            </Container>
        </Section>
    );
}  